/**
 * @File   : base.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Date   : 10/15/2019, 4:06:55 PM
 * @Description:
 */
.sein-inspector-with-details {
  height: 100%;
}

.sein-inspector-with-main {
  max-height: 60%;
  margin-bottom: 12;
}