.sein-inspector-color-container {
  .sein-inspector-component-box {
    display: flex;
    align-items: center;
  }
  .sein-inspector-label {
    flex: 1;
    padding-right: 20px;
  }
  .sein-inspector-color {
    border: none;
    outline: none;
    padding: 0;
    border: 1px solid #444;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    &::-webkit-color-swatch-wrapper {
      padding: 0;
      border: none;
    }
    &::-webkit-color-swatch {
      border: none;
    }
    &:hover {
      border-color: #888;
      box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
    }
  }
  .sein-inspector-color-value {
    font-size: 12px;
    color: #bbb;
    min-width: 55px;
    text-align: right;
  }
}
