/**
 * @File   : base.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Date   : 3/6/2020, 2:05:49 PM
 * @Description:
 */
@mixin text-transition {
  transition: all 0.5s linear;
}

// container
.sein-inspector-text {
  // @include auto-prefixed-flex;
  display: flex;
  justify-content: start;
  align-items: baseline;
  width: 100%;
  font-size: 14px;
  height: 30px;
}

// input
.sein-inspector-text-input {
  @include text-transition;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  color: #fff;
  font-weight: 300;
  width: 100%;
  font-size: 13px;

  &-underline {
    border-bottom: 1px solid;
    height: 16px;
  }

  &-box {
    padding-left: 4px;
    border: 1px solid;
    border-radius: 4px;
    height: 18px;
  }
}

.sein-inspector-text-prefix {
  @include text-transition;
  font-size: 14px;
  font-weight: bolder;
  float: left;
  white-space: nowrap;
  box-sizing: border-box;
  line-height: normal;
}

.sein-inspector-text-prefix-underline {
  padding-right: 4px;
  padding-top: 12px;
}

.sein-inspector-text-prefix-box {
  color: #fff;
  text-align: center;
  padding: 0 4px 0 12px;
  line-height: 30px;
}
