/**
 * @File   : basic.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Date   : 3/9/2020, 6:11:51 PM
 * @Description:
 */
.sein-controller-vector {
  margin-top: 4px;

  &-name {
    font-size: 13px;
    font-weight: bolder;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
