.sein-inspector-tab {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  border-top: 1px solid #4d4d4d;
  user-select: none;
  font-size: 0;
  // white-space: nowrap;
  overflow: auto;

  .sein-inspector-tab-item {
    font-size: 12px;
    color: #fff;
    flex: auto;
    margin: 0;
    text-align: center;
    border-left: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
    padding: 8px 6px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.1s ease 0s;

    &:first-child {
      border-left: none;
    }

    &:hover,
    &.current {
      background-color: #333;
      border-bottom: 1px solid #aaaaaa;
    }
  }
}